annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.110.0
h11==0.16.0
httptools==0.7.1
idna==3.11
numpy
opencv-python-headless==4.13.0.92
packaging==26.0
pdf2image==1.17.0
pillow==10.2.0
pydantic==2.12.5
pydantic-core==2.41.5
pypdf==4.1.0
pypdf2==3.0.1
pytesseract==0.3.10
python-dotenv==1.2.1
python-multipart==0.0.9
pyyaml==6.0.3
starlette==0.36.3
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.29.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
